body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.dashboard main {
    background-color: white;
    padding: 20px;
   
}

.dashboard main h2 {
    margin-bottom: 20px;
    text-align: left;
}

.charts-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.chart {
    width: 48%;
}

.stats-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.stat {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    width: 30%;
}

.actions-container {
    display: flex;
    justify-content: space-between;
}

.actions-container button {
    padding: 10px 20px;
    background-color: #b18a1b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.actions-container button:hover {
    background-color: #9a7415;
}
