.header {
    background-color: #b18a1b;
    padding: 20px;
    text-align: center;
    color: white;
}

.header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 0 15px;
}

.header .user-info {
    display: flex;
    align-items: center;
}

.header .user-info span {
    margin-right: 10px;
}

.header .user-info img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}